*{
  list-style-type: none;
}

ul.authors li a {
  position: relative;
  top: 4px;
}
.image-caption {
  text-align: right;
}

.image-caption a {
  display: inline-block ;
}

ul.authors {
  /* float: right;
  width: 10%;
  padding: 5px; */
  padding-left: 0;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.authors a {
  display: inline-block;
  width: 25px;
}

ul.authors img {
  border-radius: 5px;
  display: inline-block;
}

ul.authors li img {
      height: 100%;
      width: 100%;
}

li.octocat {
  float: left;
  width: 31%;
  padding: 5px;
}

li.octocat img {
  width: 100%;
  content: "";
  clear: both;
  display: table;
  border: solid 1px gray;
}

span {
  color: #5b5b60;
  font-family: sans-serif;
  position: relative;
  top: -5px;
}

span.image-number {
  color: #c8c9ca;
  float: left;
  position: relative;
  top: 15px;
}

span.image-number:before {
  content: "#";
}

a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}

.image-caption a {
  position: relative;
  top: -5px;
}

div.image-caption {
  border-bottom: 1px solid gray;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}
