*{
  list-style-type: none;
}

.image-caption {
  text-align: right;
}

ul.authors {
  /* float: right;
  width: 10%;
  padding: 5px; */
  padding-left: 0;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.authors a {
  display: inline-block;
  width: 25px;
}

ul.authors img {
  border-radius: 5px;
  display: inline-block;
}

li.octocat {
  float: left;
  width: 31%;
  padding: 5px;
}

li.octocat img {
  width: 100%;
  content: "";
  clear: both;
  display: table;
  border: solid 1px gray;
}

span {
  color: #5b5b60;
  font-family: sans-serif;
}

span.image-number {
  color: #c8c9ca !important;
  float: left;
  padding-right: 10%;
}

span.image-number:before {
  content: "#";
}

a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}

div.image-caption {
  border-bottom: 1px solid gray;
}
